
<div class="statusmessage">
<p>{{subscription.statusmessage}}</p>
{{#if subscription.subscribed}}

    {{#if subscription.options.notifydeals}}
    <div>
    <svg id="tick" viewbox="0 0 24 24">
      <path fill="none" d="M0 0h24v24H0z"/>
      <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
    </svg>
    <p class="option">Special deals</p>
    </div>
    {{else}}
    {{/if}}

    {{#if subscription.options.notifyorders}}
    <div>
    <svg id="tick" viewbox="0 0 24 24">
      <path fill="none" d="M0 0h24v24H0z"/>
      <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
    </svg>
    <p class="option">Your orders</p>
    </div>
    {{else}}
    {{/if}}

    {{#if subscription.options.notifyproducts}}
    <div>
    <svg id="tick" viewbox="0 0 24 24">
      <path fill="none" d="M0 0h24v24H0z"/>
      <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
    </svg>
    <p class="option">Product updates</p>
    </div>
    {{else}}
    {{/if}}
{{else}}
{{/if}}
</div>